<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="patient">
<label>Age</label>
<input type="text" name="Age">
<br>
<label>Gender</label>
<input type="text" name="Gender">
<br>
<label>Total_Bilirubin</label>
<input type="text" name="Total_Bilirubin">
<br>
<label>Direct_Bilirubin</label>
<input type="text" name="Direct_Bilirubin">
<br>
<label>Alkaline_Phosphotase</label>
<input type="text" name="Alkaline_Phosphotase">
<br>
<label>Alamine_Aminotransferase</label>
<input type="text" name="Alamine_Aminotransferase">
<br>
<label>Aspartate_Aminotransferase</label>
<input type="text" name="Aspartate_Aminotransferase">
<br>
<label>Total_Protiens</label>
<input type="text" name="Total_Protiens">
<br>
<label>Albumin</label>
<input type="text" name="Albumin">
<br>
<label>Albumin_and_Globulin_Ratio</label>
<input type="text" name="Albumin_and_Globulin_Ratio">
<br>
<input type="submit">





    </form>
</body>
</html>